.state-wise-data-bg-container {
  min-height: 100vh;
  width: 100%;
  background-color: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content-card {
  width: 90%;
  max-width: 1150px;
  background-color: #161625;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.state-wise-failure-card {
  height: 65vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.failure-button {
  border: none;
  border-radius: 4px;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 16px;
  background-color: #3473fa;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  padding: 9px 15px 9px 15px;
}

.success-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161625;
}

.success-page-header-card {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 30px 10px 30px 10px;
}

.state-name-card {
  width: 40%;
  max-width: 300px;
  margin: 30px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.state-name {
  width: 100%;
  max-width: 200px;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 20px;
  margin: 0px 0px 8px 0px;
  padding: 10px 0px 10px 0px;
  color: #0ea5e9;
  font-size: 14px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .state-name {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .state-name {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .state-name {
    font-size: 18px;
  }
}

.data-updated-text {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: #cbd5e1;
  font-family: 10px;
}

@media screen and (min-width: 576px) {
  .data-updated-text {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .data-updated-text {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .data-updated-text {
    font-size: 16px;
  }
}

.tested-card {
  font-family: 'Roboto';
  color: #94a3b8;
  margin: 30px 0px 30px 0px;
  padding: 0px 0px 0px 0px;
}

.tested-card-heading {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 8px 0px;
  font-size: 10px;
  text-align: right;
}

@media screen and (min-width: 576px) {
  .tested-card-heading {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .tested-card-heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .tested-card-heading {
    font-size: 16px;
  }
}

.tested-card-description {
  font-size: 12px;
  font-weight: 500;
  text-align: right;
}

@media screen and (min-width: 576px) {
  .tested-card-description {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .tested-card-description {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .tested-card-description {
    font-size: 16px;
  }
}

.success-page-stats-card {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
}

.confirmed-stats-button {
  border: none;
  color: #ff073a;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none !important;
  padding: 20px 10px 20px 10px;
  margin: 15px 10px 15px 10px;
  font-family: 'Roboto';
  display: flex;
  width: 40%;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
}

.apply-confirmed-style {
  background-color: #331427;
}

.confirmed-stats-button-heading {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}

@media screen and (min-width: 576px) {
  .confirmed-stats-button-heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .confirmed-stats-button-heading {
    font-size: 16px;
  }
}

.confirmed-stats-button-description {
  font-size: 14px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

@media screen and (min-width: 576px) {
  .confirmed-stats-button-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .confirmed-stats-button-description {
    font-size: 18px;
  }
}

.active-stats-button {
  border: none;
  color: #007bff;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none !important;
  padding: 20px 10px 20px 10px;
  margin: 15px 10px 15px 10px;
  font-family: 'Roboto';
  display: flex;
  width: 40%;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
}

.apply-active-style {
  background-color: #132240;
}

.active-stats-button-heading {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}

@media screen and (min-width: 576px) {
  .active-stats-button-heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .active-stats-button-heading {
    font-size: 16px;
  }
}

.active-stats-button-description {
  font-size: 14px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

@media screen and (min-width: 576px) {
  .active-stats-button-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .active-stats-button-description {
    font-size: 18px;
  }
}

.recovered-stats-button {
  border: none;
  color: #28a745;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none !important;
  padding: 20px 10px 20px 10px;
  margin: 15px 10px 15px 10px;
  width: 40%;
  max-width: 200px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-recovered-style {
  background-color: #182829;
}

.recovered-stats-button-heading {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}

@media screen and (min-width: 576px) {
  .recovered-stats-button-heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .recovered-stats-button-heading {
    font-size: 16px;
  }
}

.recovered-stats-button-description {
  font-size: 14px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

@media screen and (min-width: 576px) {
  .recovered-stats-button-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .recovered-stats-button-description {
    font-size: 18px;
  }
}

.deceased-stats-button {
  border: none;
  color: #6c757d;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none !important;
  padding: 20px 10px 20px 10px;
  margin: 15px 10px 15px 10px;
  width: 40%;
  max-width: 200px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apply-deceased-style {
  background-color: #212230;
}

.deceased-stats-button-heading {
  font-size: 12px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}

@media screen and (min-width: 576px) {
  .deceased-stats-button-heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .deceased-stats-button-heading {
    font-size: 16px;
  }
}

.deceased-stats-button-description {
  font-size: 14px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

@media screen and (min-width: 576px) {
  .deceased-stats-button-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .confirmed-stats-button-description {
    font-size: 18px;
  }
}

.districts-stats-card {
  width: 95%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Roboto';
  margin: 30px 5px 30px 5px;
  padding: 0px 0px 0px 0px;
}

.districts-stats-card-heading {
  font-size: 23px;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .districts-stats-card-heading {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .districts-stats-card-heading {
    font-size: 32px;
  }
}

.districts-stats-list-bg-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

.district-stat-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Roboto';
  color: #94a3b8;
  width: 50%;
  max-width: 200px;
  padding: 0px 0px 0px 0px;
  margin: 15px 40px 15px 0px;
}

.district-stat-item-heading {
  font-size: 14px;
  margin: 0px 0px 0px 0px;
  padding: 0px 8px 0px 0px;
}

@media screen and (min-width: 576px) {
  .district-stat-item-heading {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .district-stat-item-heading {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .district-stat-item-heading {
    font-size: 20px;
  }
}

.district-stat-item-description {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5;
}

@media screen and (min-width: 576px) {
  .district-stat-item-description {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .district-stat-item-description {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .district-stat-item-description {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .districts-stats-card-description {
    font-size: 16px;
  }
}

.bar-container {
  width: 95%;
  max-width: 1200px;
  overflow-x: auto;
}

.bar {
  margin: auto !important;
  font-size: 12px !important;
  font-family: 'Roboto' !important;
  font-weight: lighter !important;
}

@media screen and (min-width: 576px) {
  .bar {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 768px) {
  .bar {
    font-size: 16px !important;
  }
}

.spread-trends-bg-container {
  width: 95%;
  max-width: 1200px;
  margin: auot;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spread-trends-heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  width: 100%;
  font-size: 23px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 20px 10px 30px 10px;
}

@media screen and (min-width: 768px) {
  .spread-trends-heading {
    font-size: 28px;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .spread-trends-heading {
    font-size: 32px;
  }
}

.confirmed-line-chart-bg-container {
  background-color: #331427;
  margin: 20px 8px 30px 8px;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  width: 95%;
  overflow-x: auto;
}

.confirmed-line-chart {
  font-family: 'Roboto' !important;
  font-weight: lighter !important;
  color: #ff073a;
  font-size: 12px;
  margin: auto;
}

.active-line-chart-bg-container {
  background-color: #132240;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  margin: 0px 8px 30px 8px;
  width: 95%;
  overflow-x: auto;
}

.active-line-chart {
  font-family: 'Roboto' !important;
  font-weight: lighter !important;
  color: #007bff;
  font-size: 12px;
  margin: auto;
}

.recovered-line-chart-bg-container {
  background-color: #182829;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  margin: 0px 8px 30px 8px;
  width: 95%;
  overflow-x: auto;
}

.recovered-line-chart {
  font-family: 'Roboto' !important;
  font-weight: lighter !important;
  color: #27a243;
  font-size: 12px;
  margin: auto;
}

.deceased-line-chart-bg-container {
  background-color: #1c1c2b;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  margin: 0px 8px 30px 8px;
  width: 95%;
  overflow-x: auto;
}

.deceased-line-chart {
  font-family: 'Roboto' !important;
  font-weight: lighter !important;
  color: #6c757d;
  font-size: 12px;
  margin: auto;
}

.tested-line-chart-bg-container {
  background-color: #230f41;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  margin: 0px 8px 30px 8px;
  width: 95%;
  overflow-x: auto;
}

.tested-line-chart {
  font-family: 'Roboto' !important;
  font-weight: lighter !important;
  color: #9673b9;
  font-size: 12px;
  margin: auto;
}

@media screen and (min-width: 576px) {
  .confirmed-line-chart {
    font-size: 14px !important;
  }
  .active-line-chart {
    font-size: 14px !important;
  }
  .recovered-line-chart {
    font-size: 14px !important;
  }
  .deceased-line-chart {
    font-size: 14px !important;
  }
  .tested-line-chart {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 768px) {
  .confirmed-line-chart {
    font-size: 16px !important;
  }
  .active-line-chart {
    font-size: 16px !important;
  }
  .recovered-line-chart {
    font-size: 16px !important;
  }
  .deceased-line-chart {
    font-size: 16px !important;
  }
  .tested-line-chart {
    font-size: 16px !important;
  }
}

.state-page-stat-image {
  height: 25px;
  width: 25px;
  margin: 0px 0px 8px 0px;
}

@media screen and (min-width: 576px) {
  .state-page-stat-image {
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  .state-page-stat-image {
    height: 35px;
    width: 35px;
  }
}
